<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v6.0" sku=".NETFramework,Version=6.0" />
	</startup>
	<connectionStrings>
		<add name="StockConn" connectionString="Data Source=BLACKPERL\WORKBENCH;Initial Catalog=SANDBOX_SAGE50;Integrated Security=True;User ID=sa;Password=***********" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>